html{
  font-family: 'Lato', sans-serif;
}
h1{
  text-align: center;
  color: #1c2e4a;
}

p{
  text-align: center;
}

.button-group{
  text-align: center;
}
  
button{
  font-weight: bold;
  color: teal;
  border: 2px solid teal;
  border-radius: 20px;
  padding: 0.5em 2em;
  margin: auto 2em;
}